---

---

<article class="col-span-5 relative min-h-[150px]">
  <div class="w-full h-full absolute bg-red-500 z-20 opacity-80">
    <div id="youtube-video" class="w-full h-full"></div>
  </div>
  <div id="youtube-container" class="absolute top-0 z-10 w-full h-full"></div>
</article>

<script>
  const BASE_URL = "https://decapi.me/youtube/latest_video?";

  const USER_ID = "UCkDwFvETfXmnIwpX7lV3F1g";

  const FORMAT = '{"id":"{id}","title":"{title}"}';

  const QUERY_PARAMS = "no_livestream=0&no_shorts=0&skip=1";

  const FINAL_URL = `${BASE_URL}id=${USER_ID}&format=${FORMAT}&${QUERY_PARAMS}`;

  fetch(FINAL_URL)
    .then((response) => response.json())
    .then((data) => {
      document.getElementById("youtube-video")!.innerHTML = `
            <a target='_blank' style='text-decoration: none;' href='https://www.youtube.com/watch?v=${data.id}'>
                <h2 style='color:white;'>${data.title}</h2>
            </a>
            `;
      const elem = document.getElementById(
        "youtube-container"
      );
      
      if (!elem) return

      elem?.classList.add('youtube-img')
      elem.style.backgroundImage = `url(https://img.youtube.com/vi/${data.id}/hqdefault.jpg)`;
      
    })
    .catch((error) => {
      console.error(error);
    });
</script>

<style>
  .youtube-img{
    background-size: "cover";
    background-repeat: "no-repeat";
    background-position: "center";
  }
</style>
